.list-group {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  box-shadow: $list-group-box-shadow;

  &:empty {
    width: 100%;
    height: 400px;
    background-color: $white;
    
    &::after {
      content: 'No Records.';
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: $list-group-font-size;
      font-weight: $list-group-font-weight;
    }
  }
}

.list-group__item {
  display: block;
  position: relative;
  height: $list-group-item-height;
  color: $list-group-color;
  padding: $list-group-item-padding;
  border-bottom: $list-group-border-width solid $list-group-border-color;
  background-color: $list-group-bg-color;
  font-size: $list-group-font-size;
  font-weight: $list-group-font-weight;
  transition: $transition-base;
  display: flex;
  align-items: center;

  .list-group__item__action {
    display: none;
    margin-left: auto;
    transition: $transition-base;
  }

  &:first-child {
    border-top-left-radius: $list-group-border-radius;
    border-top-right-radius: $list-group-border-radius;
  }

  &:last-child {
    margin-bottom: 0;
    border-bottom: 0;
    border-bottom-left-radius: $list-group-border-radius;
    border-bottom-right-radius: $list-group-border-radius;
  }

  &:hover {
    background-color: $list-group-border-color-hover;

    .list-group__item__action {
      display: block;
    }
  }
}
