html {
  box-sizing: border-box;
  font-size: 62.5%;
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  height: 100%;
  width: 100%;
  overflow-x: hidden; 
  background-color: $body-bg;
  color: $body-color;
}